<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{% block title %}{% endblock %}</title>
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/linearicons/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/chartist/css/chartist-custom.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/toastr/toastr.min.css') }}">
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.min.css') }}">#}
{% block css %}{% endblock %}
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Bootstrp-select CSS -->
    <link rel="stylesheet", href="{{ url_for('static', filename='vendor/bootstrap-select/dist/css/bootstrap-select.min.css') }}"
{#    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->#}
{#	<link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">#}
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/apple-icon.png') }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>
<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo-dark.png') }}" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search docker images...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>
				<div class="navbar-btn navbar-btn-right">
{#					<a class="btn btn-success update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>#}
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href={{ request.url }} class="dropdown-toggle"><i class="lnr lnr-sync"></i> <span>Refresh</span></a>
                        </li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger" id="message_number">0</span>
							</a>
							<ul class="dropdown-menu" id="message_box">
                                <!-- message -->
{#								<li><a class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>#}
{#								<li><a class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>#}
{#								<li><a class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>#}
{#								<li><a class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>#}
{#								<li><a class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>#}
{#								<li><a href="#" class="more">See all notifications</a></li>#}
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">Basic Use</a></li>
								<li><a href="#">Working With Data</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Troubleshooting</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ (url_for('static', filename='img/user2.png')) }}" class="img-circle" id="head_user_avatar"> <span id="head_user_username">None</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                                <li><a href="{{ url_for('lock') }}"><i class="lnr lnr-lock"></i> <span>Lock Screen</span></a></li>
								<li><a href="{{ url_for('logout') }}"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a class="" href="{{ url_for('index') }}" ><i class="lnr lnr-home"></i> <span>集群状态</span></a></li>
						<li>
							<a href="#subImport" data-toggle="collapse" class="collapsed"><i class="lnr lnr-enter"></i> <span>导入镜像</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subImport" class="collapse ">
								<ul class="nav">
									<li><a href="{{ url_for('import_port') }}" class="">主节点导入</a></li>
									<li><a href="{{ url_for('import_file') }}" class="">本地导入</a></li>
								</ul>
							</div>
						</li>
                        <li>
							<a href="#subExport" data-toggle="collapse" class="collapsed"><i class="lnr lnr-exit"></i> <span>导出镜像</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subExport" class="collapse ">
								<ul class="nav">
{#									<li><a href="#" class="">导出至文件夹</a></li>#}
									<li><a href="{{ url_for('export_image') }}" class="">导出至本地</a></li>
								</ul>
							</div>
						</li>
                        <li>
							<a href="#subLoad" data-toggle="collapse" class="collapsed"><i class="lnr lnr-link"></i> <span>加载镜像</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subLoad" class="collapse ">
								<ul class="nav">
									<li><a href="{{ url_for('load_file') }}" class="">加载文件夹镜像</a></li>
									<li><a href="{{ url_for('load_url') }}" class="">加载Github镜像</a></li>
								</ul>
							</div>
						</li>
                        <li><a class="" href="{{ url_for('pack') }}" ><i class="lnr lnr-layers"></i> <span>打包镜像</span></a></li>
                        <!--
                        <li>
							<a href="#subPacket" data-toggle="collapse" class="collapsed"><i class="lnr lnr-layers"></i> <span>打包镜像</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPacket" class="collapse ">
								<ul class="nav">
									<li><a href="#" class="">打包至文件夹</a></li>
									<li><a href="#" class="">打包至本地</a></li>
								</ul>
							</div>
						</li>
						-->

						<li>
							<a href="#subDrop" data-toggle="collapse" class="collapsed"><i class="lnr lnr-trash"></i> <span>删除镜像</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subDrop" class="collapse ">
								<ul class="nav">
                                    <li><a href="{{ url_for('rm_image') }}" class="">删除集群镜像</a></li>
									<li><a href="{{ url_for('rm_file') }}" class="">删除镜像文件</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#subCat" data-toggle="collapse" class="collapsed"><i class="lnr lnr-menu"></i> <span>查看镜像</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subCat" class="collapse ">
								<ul class="nav">
									<li><a href="{{ url_for('show_image') }}" class="">查看集群镜像</a></li>
									<li><a href="{{ url_for('show_file') }}" class="">查看镜像文件</a></li>
								</ul>
							</div>
						</li>
                            <li id="sys-set-show">
							    <a href="#subSet" data-toggle="collapse" class="collapsed"><i class="lnr lnr-cog"></i> <span>集群管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							    <div id="subSet" class="collapse ">
								    <ul class="nav">
								    	<li><a href="{{ url_for('sys_set') }}" class="">集群节点管理</a></li>
								    	<li><a href="#" class="">节点镜像管理</a></li>
								    	<li><a href="{{ url_for('user_set') }}" class="">集群用户管理</a></li>
								    </ul>
							    </div>
						    </li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
        <!-- START MAIN -->
        <div class="main">
            {% block main %}
            {% endblock %}
        </div>
        <!-- START END -->
        <div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2017 <a href="#" target="_blank">Theme I Need</a>. All Rights Reserved - Power By <a href="https://github.com/zhaopengyue"  target="_blank">赵鹏越</a></p>
			</div>
		</footer>
    </div>
    <!-- END WRAPPER -->
    <!-- javascript -->
	<script src="/static/vendor/jquery/jquery.min.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/static/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="/static/vendor/chartist/js/chartist.min.js"></script>
	<script src="/static/js/klorofil-common.js"></script>
    <script src="/static/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="/static/vendor/toastr/toastr.min.js"></script>
    {% block script %}
    {% endblock %}
	<script>
        toastr.options = {
                               'positionClass': 'toast-top-center',
                               'closeButton': true,
                               'debug': false
                            };
        get_head_info();
        get_message_info();
        window.setInterval(get_head_info, 10000);
        window.setInterval(get_message_info, 10000);
        /* get head info start */
        function get_head_info() {
             $.ajax({
                data: JSON.stringify({'test':'test'}),
                dataType: 'json',
                type: 'POST',
                contentType: 'application/json; charset=UTF-8',
                url: '{{ url_for('get_head_user_info') }}',
                success: function (resful, status) {
                    if(status === 'success') {
                        if(resful.avatar !== null)
                             $("#head_user_avatar").attr('src', resful.avatar);
                        $("#head_user_username").text(resful.username);
                        var role = resful.role;
                        if(role !== 'warden') {
                            $("#sys-set-show").hide();
                       }
                   }
               }
           });
        }
        /* get head info end */

        /* get message start */
        function get_message_info() {
            $.ajax({
               data: JSON.stringify({'test': 'test'}),
                dataType: 'json',
                type: 'POST',
                contentType: 'application/json; charset=UTF-8',
                url: '{{ url_for('get_message_info') }}',
                success: function (resful, status) {
                    if(status === 'success') {
                        var content = resful.content;
                        var message_status = resful.status;
                        var new_message_number = resful.new_number;
                        var message_number = content.length;
                        var span_message_number = document.getElementById('message_number');
                        span_message_number.innerText = message_number;
                        var message_box = document.getElementById('message_box');
                        message_box.innerHTML = '';
                        for(var i=0; i<message_number; i++) {
                            var li = document.createElement('li');
                            var a = document.createElement('a');
                            var span1 = document.createElement('span');
                            if(content[i].grade === 'success')
                                span1.setAttribute('class', 'dot bg-success');
                            else
                                span1.setAttribute('class', 'dot bg-danger');
                            a.setAttribute('class', 'notification-item');
                            a.appendChild(span1);
                            var span2 = document.createElement('span');
                            span2.innerText = content[i].info;
                            a.appendChild(span2);
                            li.appendChild(a);
                            message_box.appendChild(li);
                        }
                        if(message_status === 'new') {
                            var info = '您有' + new_message_number.toString() + '条新消息';
                            toastr.info(info);
                        }
                    }
                }
            });
        }
        /* get message end */


        function refresh_success() {
            toastr.options = {
                closeButton: true,
                positionClass: "toast-top-center",
                progressBar: false,
                timeOut: "5000"
            };
            toastr.info('Refresh success!');
        }
	$(function() {
		var data, options;

		// headline charts
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[23, 29, 24, 40, 25, 24, 35],
				[14, 25, 18, 34, 29, 38, 44],
			]
		};

		options = {
			height: 300,
			showArea: true,
			showLine: false,
			showPoint: false,
			fullWidth: true,
			axisX: {
				showGrid: false
			},
			lineSmooth: false,
		};

		new Chartist.Line('#headline-chart', data, options);


		// visits trend charts
		data = {
			labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
			series: [{
				name: 'series-real',
				data: [200, 380, 350, 320, 410, 450, 570, 400, 555, 620, 750, 900],
			}, {
				name: 'series-projection',
				data: [240, 350, 360, 380, 400, 450, 480, 523, 555, 600, 700, 800],
			}]
		};

		options = {
			fullWidth: true,
			lineSmooth: false,
			height: "270px",
			low: 0,
			high: 'auto',
			series: {
				'series-projection': {
					showArea: true,
					showPoint: false,
					showLine: false
				},
			},
			axisX: {
				showGrid: false,

			},
			axisY: {
				showGrid: false,
				onlyInteger: true,
				offset: 0,
			},
			chartPadding: {
				left: 20,
				right: 20
			}
		};

		new Chartist.Line('#visits-trends-chart', data, options);


		// visits chart
		data = {
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
			series: [
				[6384, 6342, 5437, 2764, 3958, 5068, 7654]
			]
		};

		options = {
			height: 300,
			axisX: {
				showGrid: false
			},
		};

		new Chartist.Bar('#visits-chart', data, options);


		// real-time pie chart
		var sysLoad = $('#system-load').easyPieChart({
			size: 130,
			barColor: function(percent) {
				return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
			},
			trackColor: 'rgba(245, 245, 245, 0.8)',
			scaleColor: false,
			lineWidth: 5,
			lineCap: "square",
			animate: 800
		});

		var updateInterval = 3000; // in milliseconds

		setInterval(function() {
			var randomVal;
			randomVal = getRandomInt(0, 100);

			sysLoad.data('easyPieChart').update(randomVal);
			sysLoad.find('.percent').text(randomVal);
		}, updateInterval);

		function getRandomInt(min, max) {
			return Math.floor(Math.random() * (max - min + 1)) + min;
		}

	});
	</script>
    <!-- END javascript -->
</body>
</html>