{% extends "base.html" %}
{% block title %}Import Page | Klorofil - Docker Manager System{% endblock %}
{% block main %}
    <!-- MAIN CONTENT -->
    <div class="main-content" >
        <div class="container-fluid">
{#            <div class="row">#}
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">本地文件上传</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                            <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                    </div>
                    <div class="panel-body no-padding">
                        <div id="upload_file"></div>
                            <form class="dropzone dz-clickable" action="{{ url_for('import_file') }}" id="upload-file">
                                <div class="dz-default dz-message"><span>点击此处上传文件,同名文件上传会覆盖</span></div>
                            </form>
                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <form class="form-horizontal">
                                <div class="row">
                                    <label class="control-label col-md-1">
                                        节点
                                    </label>
                                    <div class="col-md-5" id="select_parent">
                                        <select id="node_list" class="selectpicker form-control" multiple>
                                        </select>
                                    </div>
                                    <div class="col-md-5" id="div_space"> </div>
                                    <div class="col-md-1" id="div_button">
                                        <button class="btn btn-primary" type="button" id="import_button" disabled="disabled">
                                            <i class="fa fa-spinner fa-spin" id="icon_loading"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/dropzone/dist/min/dropzone.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.min.css') }}">
{% endblock %}
{% block script %}
    <script src="/static/vendor/dropzone/dist/min/dropzone.min.js"></script>
    <script>
        $(document).ready(function () {
            /* get node list start */
            $.ajax({
                data: JSON.stringify({'type': 'node_list', 'master': true, 'available': true}),
                dataType: 'json',
                type: 'POST',
                contentType: 'application/json; charset=UTF-8',
                url: '{{ url_for('get_common_info') }}',
                sync: true,
                success: function (resful, status) {
                    if(status) {
                        var node_list = resful.node_list;
                        for(var i=0; i<node_list.length; i++) {
                            var option = document.createElement('option');
                            option.setAttribute('value', node_list[i]);
                            option.setAttribute('name', 'select_node');
                            option.setAttribute('selected', true);
                            option.innerText = node_list[i];
                            $("#node_list").append(option);
                            if(i === 0)
                                option.setAttribute('selected', true);
                        }
                        $("#node_list").selectpicker("refresh");
                        var button = document.getElementById('import_button');
                        button.innerText = '导入';
                        button.removeAttribute('disabled');
                    }
                }
            });
            /* get node list end */
            /* set dropzone start */
            Dropzone.options.uploadFile = {
                acceptedFiles: ".tar",  // only tar file
                maxFilesize: 2 * 1024,  // 2G
                maxFiles: 10,
                addRemoveLinks: true,
                init: function () {
                    toastr.options = {
                               'positionClass': 'toast-top-center',
                               'closeButton': true,
                               'debug': false
                            };
                    this.on('success', function (file, status) {
                        if(status) {
                            $.ajax({
                                data: JSON.stringify({'type': 'add_upload_file', 'file_name': file.name}),
                                dataType: 'json',
                                type: 'POST',
                                contentType: 'application/json; charset=UTF-8',
                                url: '{{ url_for('get_import_info') }}',
                                success: function (resful, status) {
                                    if(resful.add_upload_file_status === 'success')
                                        toastr.info(file.name + '上传成功');
                                    else
                                        toastr.error(file.name + '上传失败');
                                }
                            });
                        }
                        else
                            toastr.error(file.name + '上传失败');
                    });
                    /* send remove file request start */
                    this.on("removedfile", function(file) {
                        $.ajax({
                            data: JSON.stringify({'type': 'remove_upload_file', 'file_name': file.name}),
                            dataType: 'json',
                            type: 'POST',
                            contentType: 'application/json; charset=UTF-8',
                            url: '{{ url_for('get_import_info') }}',
                            success: function (resful, status) {
                                if(resful.remove_upload_file_status === 'success')
                                    toastr.info(file.name + '删除成功');
                                else
                                    toastr.error(file.name + '删除失败');
                            }
                        });
                    });
                    /* send remove file request end */
                }
            };

            /* set dropzone end */
        });

        // import image file from local start
        $("#import_button").click(function () {
            /* check node list start */
            var select = document.getElementsByName('select_node');
            var node_list = new Array();
            toastr.options = {
                               'positionClass': 'toast-top-center',
                               'closeButton': true,
                               'debug': false
                            };
            for(var j=0; j<select.length; j++) {
                if(select[j].selected) {
                    node_list.push(select[j].value);
                }
            }
            if(node_list.length === 0) {
                toastr.error('请至少选择一个节点');
                return;
            }
            /* check node list end */
            var upload_file = 0;
            /* check file start */
            $.ajax({
                async: false,
                data: JSON.stringify({'type': 'get_upload_file_num'}),
                dataType: 'json',
                type: 'POST',
                contentType: 'application/json; charset=UTF-8',
                url: '{{ url_for('get_import_info') }}',
                success: function (resful, status) {
                    if(status) {
                        upload_file = resful.upload_file_num;
                    }
                }
            });
            if(upload_file === 0) {
                toastr.error('至少上传一个镜像文件');
                return;
            }
            /* check file end */
            /* set button start */
            var button = document.getElementById('import_button');
            button.setAttribute('disabled', 'disabled');
            var icon = document.createElement('i');
            button.innerHTML = '';
            icon.setAttribute('class', 'fa fa-spinner fa-spin');
            button.appendChild(icon);
            /* set nutton end */
            /* submit request */
            $.ajax({
                data: JSON.stringify({'type': 'submit_local', 'node_list': node_list}),
                dataType: 'json',
                type: 'POST',
                contentType: 'application/json; charset=UTF-8',
                url: '{{ url_for('get_import_info') }}',
                success: function (resful, status) {
                    if(status) {
                        if(resful.import_local_status === 'success') {
                            var button = document.getElementById('import_button');
                            button.innerText = '导入';
                            button.removeAttribute('disabled');
                            if(resful.import_local_status === 'success') {
                                toastr.info('请求已提交,请关注顶端消息通知');
                            }
                            else {
                                toastr.info('上一次请求未完成,请关注顶端消息通知');
                            }
                        }
                    }
                }
            });
        });

    </script>
{% endblock %}