{% extends "base.html" %}
{% block title %}Import Page | Klorofil - Docker Manager System{% endblock %}
{% block main %}
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
{#            <div class="row">#}
            <div class="col-md-12">
                <div class="panel panel-scrolling">
                    <div class="panel-heading">
                        <h3 class="panel-title">主节点镜像文件</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                            <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>文件编号</th>
                                <th>镜像文件名</th>
                                <th>创建时间</th>
                                <th>备注</th>
                                <th>导入</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>fafafa</td>
                                    <td>adsdads</td>
                                    <td>dsadas</td>
                                    <td>dsadas</td>
                                    <td>True</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                <div class="col-md-12">
                <div class="panel panel-scrolling">
                    <div class="panel-heading">
                        <h3 class="panel-title">本节点镜像文件</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                            <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>文件编号</th>
                                <th>镜像文件名</th>
                                <th>创建时间</th>
                                <th>最进使用</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>fafafa</td>
                                    <td>adsdads</td>
                                    <td>dsadas</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
{#                </div>#}
            </div>
            </div>
        </div>
    </div>
{% endblock %}