{% extends "base.html" %}
{% block title %}Main Page | Klorofil - Docker Manager System{% endblock %}
{% block main %}
    <div class="main-content">
        <div class="container-fluid">
            <!-- OVERVIEW -->
            <!-- 集群信息总览 -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">更新时间:</h3>
                    <p class="panel-subtitle"><i class="fa fa-clock-o"></i> {{ flush_time }}</p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="metric">
                                <!-- 集群节点个数 -->
                                <span class="icon"><i class="fa fa-cubes"></i></span>
                                <p>
                                    <span class="number">5</span>
                                    <span class="title">集群节点个数</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="metric">
                                <!-- 集群容器个数 -->
                                <span class="icon"><i class="fa fa-coffee"></i></span>
                                <p>
                                    <span class="number">20</span>
                                    <span class="title">集群容器总数</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="metric">
                                <!-- 其群镜像文件总数 -->
                                <span class="icon"><i class="fa fa-folder"></i></span>
                                <p>
                                    <span class="number">35</span>
                                    <span class="title">镜像文件总数</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="metric">
                                <span class="icon"><i class="fa fa-tags"></i></span>
                                <p>
                                    <span class="number">60</span>
                                    <span class="title">集群镜像总数</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OVERVIEW -->
            <!-- 集群信息总览结束 -->
            <div class="copyrights">Power By <a href="https://github.com/zhaopengyue/" >赵鹏越</a></div>
            <div class="row">
                <!-- 节点信息表div开始 -->
                <div class="col-md-7">
                    <!-- RECENT PURCHASES -->
                    <!-- 集群各节点信息表开始 -->
                    <div class="panel panel-scrolling">
                        <div class="panel-heading">
                            <h3 class="panel-title">节点信息表</h3>
                            <div class="right">
                                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                            </div>
                        </div>
                        <div class="panel-body no-padding">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>节点编号</th>
                                        <th>IP</th>
                                        <th>容器总数</th>
                                        <th>运行容器</th>
                                        <th>镜像数</th>
                                        <th>镜像文件</th>
                                        <th>节点状态</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <td>10.42.0.76</td>
                                        <td>15</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>18</td>
                                        <td><span class="label label-success">&nbsp;&nbsp;&nbsp;&nbsp;sucess&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                                    </tr>
                                    <tr>
                                        <td>1.</td>
                                        <td>10.42.0.76</td>
                                        <td>15</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>18</td>
                                        <td><span class="label label-danger">&nbsp;&nbsp;&nbsp;&nbsp;danger&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                                    </tr><tr>
                                        <td>1.</td>
                                        <td>10.42.0.76</td>
                                        <td>15</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>18</td>
                                        <td><span class="label label-danger">&nbsp;&nbsp;&nbsp;&nbsp;danger&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                                    </tr><tr>
                                        <td>1.</td>
                                        <td>10.42.0.76</td>
                                        <td>15</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>18</td>
                                        <td><span class="label label-danger">&nbsp;&nbsp;&nbsp;&nbsp;danger&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                                    </tr><tr>
                                        <td>1.</td>
                                        <td>10.42.0.76</td>
                                        <td>15</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>18</td>
                                        <td><span class="label label-danger">&nbsp;&nbsp;&nbsp;&nbsp;danger&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                                    </tr><tr>
                                        <td>1.</td>
                                        <td>10.42.0.76</td>
                                        <td>15</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>18</td>
                                        <td><span class="label label-danger">&nbsp;&nbsp;&nbsp;&nbsp;danger&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                                    </tr><tr>
                                        <td>1.</td>
                                        <td>10.42.0.76</td>
                                        <td>15</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>18</td>
                                        <td><span class="label label-danger">&nbsp;&nbsp;&nbsp;&nbsp;danger&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                                    </tr><tr>
                                        <td>1.</td>
                                        <td>10.42.0.76</td>
                                        <td>15</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>18</td>
                                        <td><span class="label label-danger">&nbsp;&nbsp;&nbsp;&nbsp;danger&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                                    </tr><tr>
                                        <td>1.</td>
                                        <td>10.42.0.76</td>
                                        <td>15</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>18</td>
                                        <td><span class="label label-danger">&nbsp;&nbsp;&nbsp;&nbsp;danger&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                                    </tr><tr>
                                        <td>1.</td>
                                        <td>10.42.0.76</td>
                                        <td>15</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>18</td>
                                        <td><span class="label label-danger">&nbsp;&nbsp;&nbsp;&nbsp;danger&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                                    </tr><tr>
                                        <td>1.</td>
                                        <td>10.42.0.76</td>
                                        <td>15</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>18</td>
                                        <td><span class="label label-danger">&nbsp;&nbsp;&nbsp;&nbsp;danger&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                                    </tr><tr>
                                        <td>1.</td>
                                        <td>10.42.0.76</td>
                                        <td>15</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>18</td>
                                        <td><span class="label label-danger">&nbsp;&nbsp;&nbsp;&nbsp;danger&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                                    </tr><tr>
                                        <td>1.</td>
                                        <td>10.42.0.76</td>
                                        <td>15</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>18</td>
                                        <td><span class="label label-danger">&nbsp;&nbsp;&nbsp;&nbsp;danger&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                                    </tr><tr>
                                        <td>1.</td>
                                        <td>10.42.0.76</td>
                                        <td>15</td>
                                        <td>7</td>
                                        <td>15</td>
                                        <td>18</td>
                                        <td><span class="label label-danger">&nbsp;&nbsp;&nbsp;&nbsp;danger&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    <!-- END RECENT PURCHASES -->
                    <!-- 节点信息表结束 -->
                    </div>
                </div>
                <!-- 节点信息表div结束 -->
                <!-- 事件框div开始 -->
                <div class="col-md-5">
                    <div class="panel panel-scrolling">
                        <div class="panel-heading">
                            <h3 class="panel-title">最近事件</h3>
                            <div class="right">
                                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled activity-list">
                                <li>
                                    <img src="{{ url_for('static', filename='img/user1.png') }}" alt="Avatar" class="img-circle pull-left avatar">
                                    <p><a href="#">Michael</a> has achieved 80% of his completed tasks <span class="timestamp">20 minutes ago</span></p>
                                </li>
                                <li>
                                    <img src="{{ url_for('static', filename='img/user2.png') }}" alt="Avatar" class="img-circle pull-left avatar">
                                    <p><a href="#">Daniel</a> has been added as a team member to project <a href="#">System Update</a> <span class="timestamp">Yesterday</span></p>
                                </li>
                                <li>
                                    <img src="{{ url_for('static', filename='img/user3.png') }}" alt="Avatar" class="img-circle pull-left avatar">
                                    <p><a href="#">Martha</a> created a new heatmap view <a href="#">Landing Page</a> <span class="timestamp">2 days ago</span></p>
                                </li>
                                <li>
                                    <img src="{{ url_for('static', filename='img/user4.png') }}" alt="Avatar" class="img-circle pull-left avatar">
                                    <p><a href="#">Jane</a> has completed all of the tasks <span class="timestamp">2 days ago</span></p>
                                </li>
                                <li>
                                    <img src="{{ url_for('static', filename='img/user5.png') }}" alt="Avatar" class="img-circle pull-left avatar">
                                    <p><a href="#">Jason</a> started a discussion about <a href="#">Weekly Meeting</a> <span class="timestamp">3 days ago</span></p>
                                </li>
                            </ul>
{#                            <button type="button" class="btn btn-primary btn-bottom center-block">Load More</button>#}
                        </div>
                    </div>
                    <!-- 事件框结束 -->
                </div>
                <!-- 时间框div结束 -->
                <!-- END TIMELINE -->
            </div>
        </div>
    </div>
{% endblock %}