{% extends "base.html" %}
{% block title %}User Page | Klorofil - Docker Manager System{% endblock %}
{% block main %}
    <!-- MAIN CONTENT -->
    <div class="main-content" >
        <div class="container-fluid">
{#            <div class="row">#}
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">集群参数设置</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                            <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>IP</th>
                                    <th>端口</th>
                                    <th>账户</th>
                                    <th>密码</th>
                                    <th>镜像位置</th>
                                    <th>Master</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                            </tbody>
                        </table>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                             <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                             <h4 class="modal-title" id="myModalLabel">新增</h4>
                                    </div>
                                    <form name="add">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="txt_ip">IP</label>
                                            <input type="text" name="txt_ip" class="form-control" id="txt_ip" placeholder="点分十进制表示">
                                        </div>
                                        <div class="form-group">
                                            <label for="txt_port">端口</label>
                                            <input type="text" name="txt_port" class="form-control" id="txt_port" placeholder="SSH端口,默认{{ default_set.DEFAULT_NODE_PORT }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="txt_account">账户</label>
                                            <input type="text" name="txt_account" class="form-control" id="txt_account" placeholder="节点访问账户,默认{{ default_set.DEFAULT_NODE_ACCOUNT }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="txt_password">密码</label>
                                            <input type="text" name="txt_password" class="form-control" id="txt_password" placeholder="节点访问密码,默认{{ default_set.DEFAULT_NODE_PASSWORD }}">
                                        </div>
                                        <div class="form-group">
                                          <label for="txt_position">镜像位置</label>
                                          <input type="text" name="txt_position" class="form-control" id="txt_position" placeholder="tar镜像文件存放路径,默认{{ default_set.DEFAULT_IMAGE_FILE_PATH }}">
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                                          <button type="button" id="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                                    </div>
                                        </form>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-11" id="div_space"> </div>
                                    <div class="col-md-1" id="div_button">
                                        <button class="btn btn-primary" type="button" id="add">
                                            添加
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block css %}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-table/dist/bootstrap-table.min.css') }}">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/x-editable/dist/bootstrap-editable/css/bootstrap-editable.css') }}">#}
{% endblock %}
{% block script %}
    <script src="/static/vendor/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/static/vendor/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <script>
        var edit_obj = null;
        $(document).ready(function () {
            // 发送ajax请求节点信息
            $.ajax({
                data: JSON.stringify({'type': 'sys_info'}),
                dataType: 'json',
                type: 'POST',
                contentType: 'application/json; charset=UTF-8',
                url: '{{ url_for('get_sys_info') }}',
                success: function (resful, status) {
                    if(status) {
                        if(resful.sys_info_status === 'success') {
                            // 制表
                            make_form(resful.sys_info_list);
                        }
                        else {
                            toastr.error('请求失败');
                        }
                    }
                }
            });
        });

        // 给添加按钮追加事件
        $("#add").click(function () {
            $("#myModalLabel").text("新增");
            $('#myModal').modal();
            clean_input();
            document.getElementById('txt_ip').focus();
        });

        // 编辑按钮追加事件
        function edit_sys(this_object) {
            edit_obj = this_object;
{#            var ip = this_object.parentNode.parentNode.childNodes[1].innerText;#}
            var ip=this_object.getAttribute('value');
            // 通过ajax指定值
            $.ajax({
                data: JSON.stringify({'type': 'get_sys_info', 'ip': ip}),
                dataType: 'json',
                type: 'POST',
                contentType: 'application/json; charset=UTF-8',
                url: '{{ url_for('get_sys_info') }}',
                success: function (resful, status) {
                    if(status) {
                        if(resful.get_sys_status === 'success') {
                            $("#txt_ip").val(resful.get_sys_info.ip);
                            $("#txt_port").val(resful.get_sys_info.port);
                            $("#txt_account").val(resful.get_sys_info.account);
                            $("#txt_password").val(resful.get_sys_info.password);
                            $("#txt_position").val(resful.get_sys_info.position);
                        }
                    }
                }
            });
            $("#myModalLabel").text("编辑");
            $('#myModal').modal();
        }
        // 删除
        function delete_sys(this_object) {
            // 验证方式采用 前端确认+ 后台验证方式
            // 提示确认
            window.Ewin.confirm({message: '确定删除么?', title: '删除确认'}).on(function (e) {
                    if(!e) {
                        return;
                    }
                    else {
                        var ip = this_object.getAttribute('value');
                        alert(ip);
                        $.ajax({
                            data: JSON.stringify({'type': 'sys_del', 'ip': ip}),
                            dataType: 'json',
                            type: 'POST',
                            contentType: 'application/json; charset=UTF-8',
                            url: '{{ url_for('get_sys_info') }}',
                            success: function (resful, status) {
                                if(status) {
                                    if(resful.sys_del_status === 'success') {
                                        toastr.info('删除成功');
                                        // 为追求统一,此处采用重构前端表格方式删除
                                        make_form(resful.sys_info_list);
                                    }
                                    else {
                                        toastr.error(resful.sys_del_err_reason);
                                    }
                                }
                            }
                        });
                    }
                });
            /*通过dom删除
            var tbody = document.getElementById('tbody');
            var tr = this_object.parentNode.parentNode;
            tbody.removeChild(tr);*/
        }

        // 生成表格
        function make_form(form_objs) {
            var tbody_obj = document.getElementById('tbody');
            // 清空原始内容
            tbody_obj.innerHTML = '';
            // 顺序 id-IP-端口-账户-密码-镜像文件位置-是否是主节点-操作
            for(var i=0; i<form_objs.length; i++) {
                var tr = document.createElement('tr');
                var ip_value = form_objs[i][1];
                for(var j=0; j<form_objs[i].length; j++) {
                    var td = document.createElement('td');
                    if(j === form_objs[i].length - 1) {
                        var input = document.createElement('input');
                        input.setAttribute('type', 'radio');
                        input.setAttribute('name', 'select_master');
                        input.setAttribute('value', ip_value);
                        if(form_objs[i][j]) {
                            input.checked = true;
                        }
                        td.appendChild(input);
                        tr.appendChild(td);
                        continue;
                    }
                    td.innerText = form_objs[i][j];
                    tr.appendChild(td);
                }
                // 操作
                var op_td = document.createElement('td');
                op_td.innerHTML = '<span class="lnr lnr-pencil" onclick="edit_sys(this)" value="' + ip_value + '"' + '></span>&nbsp;&nbsp;&nbsp;<span onclick="delete_sys(this)" class="lnr lnr-trash"' + 'value="' + ip_value + '"></span>';
{#                op_td.innerHTML = '<li class="glyphicon glyphicon-pencil" id="edit" onclick="edit_user(this)"></li>&nbsp;&nbsp;&nbsp;<li class="glyphicon glyphicon-remove" id="delete" onclick="delete_user(this)"></li>';#}
                tr.appendChild(op_td);
                tbody_obj.appendChild(tr);
            }
        }
        
        // 给保存按钮追加时间
        $("#submit").click(function() {
            toastr.options = {
                     'positionClass': 'toast-top-center',
                     'debug': false
                 };
            var tbody = document.getElementById('tbody');
            var ip_obj = document.getElementById('txt_ip');
            var port_obj = document.getElementById('txt_port');
            var account_obj = document.getElementById('txt_account');
            var password_obj = document.getElementById('txt_password');
            var position_obj = document.getElementById('txt_position');
            if($("#myModalLabel").text() === '新增') {
                // 发送ajax请求写入数据库,同步请求
                $.ajax({
                    data: JSON.stringify({'type': 'sys_add', 'ip': ip_obj.value, 'port': port_obj.value,
                        'password': password_obj.value, 'account': account_obj.value, 'position': position_obj.value}),
                    dataType: 'json',
                    type: 'POST',
                    contentType: 'application/json; charset=UTF-8',
                    url: '{{ url_for('get_sys_info') }}',
                    success: function (resful, status) {
                        if(status) {
                            if(resful.sys_add_status === 'success') {
                                // 制表
                                toastr.info("节点信息添加成功,相关数据更新需要等待20s左右时间");
                                make_form(resful.sys_info_list);
                            }
                            else {
                                toastr.error(resful.sys_add_err_reason);
                            }
                        }
                    }
                });
                clean_input();
            }
            else if($("#myModalLabel").text() === '编辑') {
                var old_ip = edit_obj.getAttribute('value');
                // 发送ajax请求写入数据库,同步请求
                $.ajax({
                    data: JSON.stringify({'type': 'sys_edit', 'old_ip': old_ip, 'ip': ip_obj.value, 'port': port_obj.value,
                        'password': password_obj.value, 'account': account_obj.value, 'position': position_obj.value}),
                    dataType: 'json',
                    type: 'POST',
                    contentType: 'application/json; charset=UTF-8',
                    url: '{{ url_for('get_sys_info') }}',
                    success: function (resful, status) {
                        if(status) {
                            if(resful.sys_edit_status === 'success') {
                                // 制表
                                toastr.info("节点信息编辑成功,相关数据更新需要等待20s左右时间");
                                make_form(resful.sys_info_list);
                            }
                            else {
                                toastr.error(resful.sys_edit_err_reason);
                            }
                        }
                    }
                });
                clean_input();
            }
            $('#myModal').modal('hide');
        });
        
        // 清除输入框
        function clean_input() {
            document.getElementById('txt_ip').value = '';
            document.getElementById('txt_port').value = '';
            document.getElementById('txt_account').value = '';
            document.getElementById('txt_password').value = '';
            document.getElementById('txt_position').value = '';
        }
    </script>
{% endblock %}