<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="static/vendor/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>


<a href="#" id="username" data-type="text" data-title="用户名">用户名</a>


<script src="static/vendor/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="static/vendor/jquery/jquery.min.js"></script>
<script>
        $(function () {
        $('#username').editable();
    });
</script>
</body>
</html>