{% extends "base.html" %}
{% block title %}User Page | Klorofil - Docker Manager System{% endblock %}
{% block main %}
    <!-- MAIN CONTENT -->
    <div class="main-content" >
        <div class="container-fluid">
{#            <div class="row">#}
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">集群用户管理</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                            <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>用户名</th>
                                    <th>密码</th>
                                    <th>创建时间</th>
                                    <th>角色</th>
                                    <th>简介</th>
                                    <td>操作</td>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                <tr id="user_1">
                                    <td>1</td>
                                    <td>admin</td>
                                    <td>admin</td>
                                    <td>2017-05-06 14:12:32</td>
                                    <td>warden</td>
                                    <td>无</td>
                                    <td>
                                        <li class="glyphicon glyphicon-pencil" id="edit" onclick="edit_user(this)"></li>
                                        &nbsp;&nbsp;&nbsp;
                                        <li class="glyphicon glyphicon-remove" id="delete" onclick="delete_user(this)"></li>
                                    </td>
                                </tr>
                                <tr id="user_2">
                                    <td>2</td>
                                    <td>user1</td>
                                    <td>user1</td>
                                    <td>2017-05-06 14:12:32</td>
                                    <td>ordinary</td>
                                    <td>无</td>
                                    <td id="finally">
                                        <li class="glyphicon glyphicon-pencil" id="edit" onclick="edit_user(this)"></li>
                                        &nbsp;&nbsp;&nbsp;
                                        <li class="glyphicon glyphicon-remove" onclick="delete_user(this)"></li>
                                        &nbsp;&nbsp;&nbsp;
                                        <li class="glyphicon glyphicon-plus" id="add"></li>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                             <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                             <h4 class="modal-title" id="myModalLabel">新增</h4>
                                    </div>
                                    <form name="add">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="txt_departmentname">用户名</label>
                                            <input type="text" name="txt_username" class="form-control" id="txt_username" placeholder="英文或数字，最多10位">
                                        </div>
                                        <div class="form-group">
                                            <label for="txt_parentdepartment">密码</label>
                                            <input type="text" name="txt_password" class="form-control" id="txt_password" placeholder="最多16位">
                                        </div>
                                        <div class="form-group">
                                            <label for="txt_departmentlevel">头像</label>
                                            <input type="text" name="txt_avatar" class="form-control" id="txt_avatar" placeholder="">
                                        </div>
                                        <div class="form-group">
                                          <label for="txt_statu">角色</label>
                                          <input type="text" name="txt_role" class="form-control" id="txt_role" placeholder="ordinary or warden">
                                        </div>
                                        <div class="form-group">
                                          <label for="txt_statu">简介</label>
                                          <input type="text" name="txt_info" class="form-control" id="txt_info" placeholder="50字以内描述">
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                                          <button type="button" id="submit_add" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                                    </div>
                                        </form>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block css %}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-table/dist/bootstrap-table.min.css') }}">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/x-editable/dist/bootstrap-editable/css/bootstrap-editable.css') }}">#}
{% endblock %}
{% block script %}
    <script src="/static/vendor/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/static/vendor/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <script>
        function delete_user(this_object) {
            tbody = document.getElementById('tbody');
            tr = this_object.parentNode.parentNode;
            tbody.removeChild(tr);
        }
        function edit_user(this_object) {
            $("#myModalLabel").text("编辑");
            $('#myModal').modal();
            $("#txt_username").val(this_object.parentNode.parentNode.childNodes[3].innerText);
            $("#txt_username").attr("disabled","disabled");
            $("#txt_password").val(this_object.parentNode.parentNode.childNodes[5].innerText);
            $("#txt_role").val(this_object.parentNode.parentNode.childNodes[9].innerText);
            $("#txt_role").attr("disabled","disabled");
            $("#txt_info").val(this_object.parentNode.parentNode.childNodes[11].innerText);
        }
        $("#add").click(function () {
            $("#myModalLabel").text("新增");
            $('#myModal').modal();
        });
        $("#submit_add").click(function () {
            var tbody = document.getElementById('tbody');
            var username = document.getElementById('txt_username').value;
            var password = document.getElementById('txt_password').value;
            var avatar = document.getElementById('txt_avatar').value;
            var role = document.getElementById('txt_role').value;
            var info = document.getElementById('txt_info').value;
            var tr = document.createElement('tr');
            var username_td = document.createElement('td');
            username_td.innerText = username;
            var password_td = document.createElement('td');
            password_td.innerText = password;
            var time_td = document.createElement('td');
            time_td.innerText = "2017-05-06 14:12:32";
            var role_td = document.createElement('td');
            role_td.innerText = role;
            var info_td = document.createElement('td');
            info_td.innerText = info;
{#            alert(password);#}
            var index_td = document.createElement('td');
            index_td.innerText = parseInt(tbody.firstChild.innerText) + 1;
            tr.appendChild(index_td);
            tr.appendChild(username_td);
            tr.appendChild(password_td);
            tr.appendChild(time_td);
            tr.appendChild(role_td);
            tr.appendChild(info_td);
{#            tr.appendChild(document.getElementById('tbody').lastElementChild.lastElementChild);#}
            tbody.appendChild(tr);
        })
    </script>
{% endblock %}