{% extends "base.html" %}
{% block title %}User Page | Klorofil - Docker Manager System{% endblock %}
{% block main %}
    <!-- MAIN CONTENT -->
    <div class="main-content" >
        <div class="container-fluid">
{#            <div class="row">#}
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">集群用户管理</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                            <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>用户名</th>
                                    <th>密码</th>
                                    <th>邮箱</th>
                                    <th>创建时间</th>
                                    <th>角色</th>
                                    <th>简介</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                            </tbody>
                        </table>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                             <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                             <h4 class="modal-title" id="myModalLabel">新增</h4>
                                    </div>
                                    <form name="add">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="txt_departmentname">用户名</label>
                                                <input type="text" name="txt_username" class="form-control" id="txt_username" placeholder="英文或数字，最多10位">
                                            </div>
                                            <div class="form-group">
                                                <label for="txt_parentdepartment">密码</label>
                                                <input type="text" name="txt_password" class="form-control" id="txt_password" placeholder="最多16位">
                                            </div>
                                            <div class="form-group">
                                                <label for="txt_departmentlevel">邮箱</label>
                                                <input type="email" name="txt_avatar" class="form-control" id="txt_email" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label for="txt_departmentlevel">头像</label>
                                                <input type="text" name="txt_avatar" class="form-control" id="txt_avatar" placeholder="">
                                            </div>
                                            <div class="form-group">
                                              <label for="txt_statu">角色</label>
                                              <input type="text" name="txt_role" class="form-control" id="txt_role" placeholder="ordinary or warden">
                                            </div>
                                            <div class="form-group">
                                              <label for="txt_statu">简介</label>
                                              <input type="text" name="txt_info" class="form-control" id="txt_info" placeholder="50字以内描述">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                                              <button type="button" id="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                                        </div>
                                    </form>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-11" id="div_space"> </div>
                                    <div class="col-md-1" id="div_button">
                                        <button class="btn btn-primary" type="button" id="add">
                                            添加
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block css %}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-table/dist/bootstrap-table.min.css') }}">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/x-editable/dist/bootstrap-editable/css/bootstrap-editable.css') }}">#}
{% endblock %}
{% block script %}
    <script src="/static/vendor/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <script>
        var edit_obj = null;
        $(document).ready(function () {
            // 发送ajax请求用户信息
            $.ajax({
                data: JSON.stringify({'type': 'user_info'}),
                dataType: 'json',
                type: 'POST',
                contentType: 'application/json; charset=UTF-8',
                url: '{{ url_for('get_user_info') }}',
                success: function (resful, status) {
                    if(status) {
                        if(resful.user_info_status === 'success') {
                            // 制表
                            make_form(resful.user_info_list);
                        }
                        else {
                            toastr.error('请求失败');
                        }
                    }
                }
            });
        });
        function delete_user(this_object) {
            var tbody = document.getElementById('tbody');
            var tr = this_object.parentNode.parentNode;
            tbody.removeChild(tr);
        }

        function edit_user(this_object) {
            edit_obj = this_object;
            $("#myModalLabel").text("编辑");
            $('#myModal').modal();
            $("#txt_username").val(this_object.parentNode.parentNode.childNodes[3].innerText);
            $("#txt_username").attr("disabled","disabled");
            $("#txt_password").val(this_object.parentNode.parentNode.childNodes[5].innerText);
            $("#txt_role").val(this_object.parentNode.parentNode.childNodes[9].innerText);
            $("#txt_role").attr("disabled","disabled");
            $("#txt_info").val(this_object.parentNode.parentNode.childNodes[11].innerText);
        }
        // 给添加按钮追加事件
        $("#add").click(function () {
            $("#myModalLabel").text("新增");
            $('#myModal').modal();
            document.getElementById('txt_username').focus();
        });

        // 给保存按钮追加时间
        $("#submit").click(function() {
            if($("#myModalLabel").text() === '新增') {
                 toastr.options = {
                     'positionClass': 'toast-top-center',
                     'debug': false
                 };
                var tbody = document.getElementById('tbody');
                var username_obj = document.getElementById('txt_username');
                var password_obj = document.getElementById('txt_password');
                var avatar_obj = document.getElementById('txt_avatar');
                var role_obj = document.getElementById('txt_role');
                var info_obj = document.getElementById('txt_info');
                var email_obj = document.getElementById('txt_email');
                var tr = document.createElement('tr');
                // 校验输入
                if(username_obj.value.length === 0 || username_obj.value.length > 10) {
                    toastr.error('用户名非法');
                    username_obj.value = '';
                    username_obj.focus();
                    return;
                }
                if(password_obj.value.length === 0 || password_obj.value.length > 16) {
                    toastr.error('密码非法');
                    password_obj.value = '';
                    password_obj.focus();
                    return;
                }
                if(role_obj.value.length === 0) {
                    toastr.error('角色非法,不允许为空');
                    role_obj.value = '';
                    role_obj.focus();
                    return;
                }
                if(role_obj.value !== 'warden' && role_obj.value !== 'ordinary') {
                    toastr.error('角色非法,只允许为`warden`或`ordinary`');
                    role_obj.value = '';
                    role_obj.focus();
                    return;
                }
                if(info_obj.value.length > 50) {
                    toastr.error();
                    info_obj.value = '';
                    info_obj.focus();
                    return;
                }
                // 发送ajax请求写入数据库,同步请求
                $.ajax({
                    data: JSON.stringify({'type': 'user_add', 'username': username_obj.value, 'password': password_obj.value,
                        'role': role_obj.value, 'avatar': avatar_obj.value, 'info': info_obj.value, 'email': email_obj.value}),
                    dataType: 'json',
                    type: 'POST',
                    contentType: 'application/json; charset=UTF-8',
                    url: '{{ url_for('get_user_info') }}',
                    success: function (resful, status) {
                        if(status) {
                            if(resful.user_add_status === 'success') {
                                // 制表
                                make_form(resful.user_info_list);
                            }
                            else {
                                toastr.error('请求失败');
                            }
                        }
                    }
                });
                /*
                var username_td = document.createElement('td');
                username_td.innerText = username_obj.value;
                var password_td = document.createElement('td');
                password_td.innerText = password_obj.value;
                var time_td = document.createElement('td');
                time_td.innerText = "2017-05-06 14:12:32";
                var role_td = document.createElement('td');
                role_td.innerText = role_obj.value;
                var info_td = document.createElement('td');
                info_td.innerText = info_obj.value;
                var index_td = document.createElement('td');
                index_td.innerText = parseInt(tbody.lastElementChild.firstElementChild.innerText) + 1;
                var button_td = document.createElement('td');
                button_td.innerHTML = '<li class="glyphicon glyphicon-pencil" id="edit" onclick="edit_user(this)"></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<li class="glyphicon glyphicon-remove" onclick="delete_user(this)"></li>';
                tr.appendChild(index_td);
                tr.appendChild(username_td);
                tr.appendChild(password_td);
                tr.appendChild(time_td);
                tr.appendChild(role_td);
                tr.appendChild(info_td);
                tr.appendChild(button_td);
                tbody.appendChild(tr);
                */
                clean_input();
            }
            else if($("#myModalLabel").text() === '编辑') {
                edit_obj.parentNode.parentNode.childNodes[5].innerText = document.getElementById('txt_password').value;
                edit_obj.parentNode.parentNode.childNodes[11].innerText = document.getElementById('txt_info').value;
                clean_input();
            }
            $('#myModal').modal('hide');
        });

        // 生成表格
        function make_form(form_objs) {
            var tbody_obj = document.getElementById('tbody');
            // 清空原始内容
            tbody_obj.innerHTML = '';
            // 顺序 id-用户名-密码-邮箱-创建日期-角色-简介-操作
            for(var i=0; i<form_objs.length; i++) {
                var tr = document.createElement('tr');
                for(var j=0; j<form_objs[i].length; j++) {
                    var td = document.createElement('td');
                    td.innerText = form_objs[i][j];
                    tr.appendChild(td);
                }
                var op_td = document.createElement('td');
                op_td.innerHTML = '<span class="lnr lnr-pencil" onclick="edit_user(this)"></span>&nbsp;&nbsp;&nbsp;<span onclick="delete_user(this)" class="lnr lnr-trash"></span>';
{#                op_td.innerHTML = '<li class="glyphicon glyphicon-pencil" id="edit" onclick="edit_user(this)"></li>&nbsp;&nbsp;&nbsp;<li class="glyphicon glyphicon-remove" id="delete" onclick="delete_user(this)"></li>';#}
                tr.appendChild(op_td);
                tbody_obj.appendChild(tr);
            }
        }

        // 清除输入框
        function clean_input() {
            document.getElementById('txt_username').value = '';
            document.getElementById('txt_password').value = '';
            document.getElementById('txt_avatar').value = '';
            document.getElementById('txt_role').value = '';
            document.getElementById('txt_info').value = '';
            document.getElementById('txt_email').value = '';
        }
    </script>
{% endblock %}